# Virtual environment
.venv/
venv/

# Environment variables
.env

# Python
__pycache__/
*.py[cod]

# Vector database
chroma_db/

# PDF data
data/*.pdf

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db